 <div *ngIf="status_lookup.length > 0 || user_group.includes('submitter_group')" class="panel-body">

    <!--SIN editor-->    
    SIN #<br> 
    <label for="current-sin-number">Current SIN #: </label>
    <span id="current-sin-number" class="right">{{this.edit_SIN.sin_number}}</span><br>
    
    <label for ="new-sin-number">New SIN #: </label>
    <span id="new-sin-number" class="right"
        *ngIf = "buffer_SIN.sin_number"> <mark>{{this.buffer_SIN.sin_number}}</mark></span><br>
    
    <div id="sin-edit-input-group" class="input-group">
        <span id="enter-new-sin-number" class="input-group-addon">Enter New SIN #</span>
        <input id="input-sin-number-enabled" class="form-control" aria-describedby="enter-new-sin-number"
                type="text"
                placeholder="Enter New SIN # Here"
                *ngIf = "!applied_SIN" 
                [(ngModel)]="buffer_SIN.sin_number">
        <input id ="input-sin-number-disabled" class="form-control" aria-describedby="enter-new-sin-number"
                type = "text" disabled
                [placeholder]="edit_SIN.sin_number"
                *ngIf = "applied_SIN">
    </div><br>

    <div id="sin-edit-btn-group" class ="btn-group right" role="group">
        <button id="undo-sin-enabled" class="btn btn-danger btn-sm"
                type="button" 
                (click)="undoSIN()"
                *ngIf="applied_SIN">Undo</button>
        <button *ngIf="!applied_SIN" type="button" disabled
                id="undo-sin-disabled" class="btn btn-danger btn-sm">Undo</button>
        <button id="apply-sin-enabled" class="btn btn-success btn-sm"
                type="button" 
                (click)="applySIN()"
                *ngIf="!applied_SIN && buffer_SIN.sin_number">Apply</button>
        <button id="apply-sin-disabled" class="btn btn-success btn-sm"
                type="button" disabled
                *ngIf="applied_SIN || !buffer_SIN.sin_number">Apply</button>
    </div><br><br>

     <!-- Title Editor -->
     Title <br> 
    <label for="current-title">Current Title: </label>
    <span id="current-title" 
            class="right">{{this.edit_SIN.sin_group_title}}</span><br>
    
    <label for ="new-title">New Title: </label>
    <span *ngIf = "buffer_SIN.sin_group_title" id="new-title" class="right">
            <mark>{{this.buffer_SIN.sin_group_title}}</mark></span><br>
    
    <div class="input-group" id="title-edit-input-group">
        <span class="input-group-addon" id="enter-new-title">Enter Title</span>
        <input type="text" id="input-title-enabled" class="form-control"
                placeholder="Enter New Title Here" aria-describedby="enter-new-title"
                *ngIf = "!applied_Title" [(ngModel)]="buffer_SIN.sin_group_title">
        <input type = "text" id ="input-title-disabled" class="form-control"
                [placeholder]="edit_SIN.sin_group_title" aria-describedby="enter-new-title"
                *ngIf = "applied_Title" disabled>
    </div><br>

    <div class ="btn-group right" role="group" id="title-edit-btn-group">
        <button *ngIf="applied_Title" type="button" (click)="undoTitle()"
                class="btn btn-danger btn-sm" id="undo-title-enabled">Undo</button>
        <button *ngIf="!applied_Title" type="button" disabled
                class="btn btn-danger btn-sm" id="undo-title-disabled">Undo</button>
        <button *ngIf="!applied_Title && buffer_SIN.sin_group_title" type="button" (click)="applyTitle()"
                class="btn btn-success btn-sm" id="apply-title-enabled">Apply</button>
        <button *ngIf="applied_Title || !buffer_SIN.sin_group_title" type="button" disabled
                class="btn btn-success btn-sm" id="apply-title-disabled">Apply</button>
    </div><br><br>

    <!-- Description Editor -->
    Description<br> 
    <label for="current-describe">Current Description: </label>
    <span id="current-describe" 
            class="right">{{this.edit_SIN.sin_description1}}</span><br>
    
    <label for ="new-describe">New Description: </label>
    <span *ngIf = "buffer_SIN.sin_description1" id="new-describe" class="right">
            <mark>{{this.buffer_SIN.sin_description1}}</mark></span><br>
    
    <div class="input-group" id="describe-input-group">
        <span class="input-group-addon" id="enter-new-describe">Enter Description</span>
        <input type="text" id="input-describe-enabled" class="form-control"
                placeholder="Enter New Description Here" aria-describedby="enter-new-describe"
                *ngIf = "!applied_Description" [(ngModel)]="buffer_SIN.sin_description1">
        <input type = "text" id ="input-describe-disabled" class="form-control"
                [placeholder]="edit_SIN.sin_description1" aria-describedby="enter-new-describe"
                *ngIf = "applied_Description" disabled>
    </div><br>

    <div class ="btn-group right" role="group" id="describe-edit-btn-group">
        <button *ngIf="applied_Description" type="button" (click)="undoDescription()"
                class="btn btn-danger btn-sm" id="undo-describe-enabled">Undo</button>
        <button *ngIf="!applied_Description" type="button" disabled
                class="btn btn-danger btn-sm" id="undo-describe-disabled">Undo</button>
        <button *ngIf="!applied_Description && buffer_SIN.sin_description1" type="button" (click)="applyDescription()"
                class="btn btn-success btn-sm" id="apply-describe-enabled">Apply</button>
        <button *ngIf="applied_Description || !buffer_SIN.sin_description1" type="button" disabled
                class="btn btn-success btn-sm" id="apply-describe-disabled">Apply</button>
    </div><br><br>

    <!--Status Editor-->
    <div *ngIf = "user_group.includes('reviewer_group') || user_group.includes('approver_group') || user_group.includes('admin_group')">
        Status<br> 
        <label for="current-status">Current Status:</label>
        <span id="current-status" class="right">{{this.status_lookup[this.edit_SIN.status_id-1].name}}</span><br>

        <label for="new-status">New Status:</label>
        <span *ngIf ="buffer_SIN.status_id" id="new-status" class="right">
                <mark>{{this.status_lookup[this.buffer_SIN.status_id-1].name}}</mark></span><br>

        <div class="input-group" id="status-edit-input-group">
            <span class="input-group-addon" id="select-new-status"> Select New Status</span>
            <select [(ngModel)] = "buffer_SIN.status_id" id ="input-status-enabled" class="form-control"
                        *ngIf = "!applied_Status" aria-describedby="select-new-status">
                <option *ngFor="let status of permission_status_lookup" 
                        [value]="status.id">{{status.name}}</option>
            </select>
            <select id ="input-status-disabled" class="form-control" disabled
                        *ngIf="applied_Status" aria-describedby="select-new-status">
                <option *ngFor="let status of permission_status_lookup" 
                        [value]="status.id">{{status.name}}</option>
            </select>
        </div><br>

        <div class ="btn-group right" role="group" id="status-edit-btn-group">
                <button *ngIf="applied_Status" type="button" (click)="undoStatus()"
                        class="btn btn-danger btn-sm" id="undo-status-enabled">Undo</button>
                <button *ngIf="!applied_Status" type="button" disabled
                        class="btn btn-danger btn-sm" id="undo-status-disabled">Undo</button>    
                <button *ngIf="!applied_Status && buffer_SIN.status_id" type="button" (click)="applyStatus()"
                        class="btn btn-success btn-sm" id="apply-status-enabled">Apply</button>    
                <button *ngIf="applied_Status || !buffer_SIN.status_id" type="button" disabled
                        class="btn btn-success btn-sm" id="apply-status-disabled">Apply</button>
        </div><br><br>

    </div>

    <!-- Save Editor -->
    <div *ngIf = "applied_SIN || applied_Title || applied_Description || applied_Status" id="save-changes-msg" 
                class="alert alert-warning" role="alert">Please Save Your Changes</div>
    <button type="submit" class="btn btn-default btn-sm" id ="cancel-btn"
                (click)="cancel()">Cancel</button>
    <button type="submit" class="btn btn-default btn-sm" id="save-btn"
                (click)="saveAll()">Save</button>
                
</div>