*.venv
*.pyc
/env/container.env
/env/local.env
/env/cloud.env
sinwebapp/static/*
sinwebapp/util/*
sinwebapp/init-app.sh
sinwebapp/init-migration.sh
frontend/node_modules/*
sinwebapp/files/local_uploads/*