*.venv
*.pyc
/env/container.env
/env/local.env
sinwebapp/static/*
!sinwebapp/static/.gitkeep
sinwebapp/util/*
sinwebapp/init-app.sh
sinwebapp/init-migrations.sh
sinwebapp/files/local_uploads/*
frontend/node_modules/*
scripts/aws/sync/