<div *ngIf = "sin_list && status_lookup.length > 0">
    <div class = "panel panel-default">
        <div class = "panel-heading">Submission Review</div>

        <div class = "panel-body">
            <p>The following submissions are awaiting review:</p>
        </div>
        
        <table class="table">
            <tr>
                <th>#</th>
                <th>SIN</th>
                <th>User</th>
                <th>Status</th>
            </tr>
            <tr *ngFor = "let sin of sin_list; let i = index;"
                [class.selected] = "sin === selected_SIN"
                (click) ="selectSIN(sin)">
                <td>{{i + 1}}</td>
                <td>{{sin.sin_number}}</td>
                <td>{{this.user_lookup[this.sin.user_id-1}].email} </td>
                <td>{{this.status_lookup[this.sin.status_id-1].name}} </td>
            </tr>
        </table>
        
</div>