# Server and Framework Dependencies
django~=2.2.0
gunicorn==20.0.4
whitenoise==5.1.0

# Database Dependencies
psycopg2-binary==2.8.5
mysqlclient==2.0.3

# Http Dependencies
requests>=2.20.0
django-cors-headers==3.4.0
django-referrer-policy==1.0.0

# API Dependencies
djangorestframework==3.11.0
drf-yasg==1.20.0

# OAuth Dependencies
cg-django-uaa==2.0.0

# S3 Dependencies
boto3==1.14.58
python-magic==0.4.18

# Datadog Dependency
ddtrace==0.45.0