<div *ngIf="status_lookup.length > 0" class="panel panel-default">

    <div class="panel-heading">SIN Submissions</div>
    
    <!--Status Mode Panel-->
    <div id="sin-status-panel" class="panel-body"
        *ngIf="!submit_mode && user_SINs">
        
        <!-- Submitter Input Alerts-->
        <div id="submission-message" class="alert alert-success" role="alert"
                *ngIf="submitted">Thank You For Your submission!</div>
        <div id="save-message" class="alert alert-success" role="alert"
                *ngIf="save_message">SIN Entry Has Been Saved!</div>        
        
        <!-- Submitter SIN Table -->
        <table id="sin-status-table" class="table">
            <tr>
                <th>#</th>
                <th>SIN</th>
                <th>Status</th>
            </tr>
            <tr id="sin-status-table-entry" 
                [class.clickable]="selectable" 
                [class.hoverable]="selectable" 
                [class.selected]="sin === selected_SIN && selectable"
                (click)="selectSIN(sin)"
                *ngFor="let sin of user_SINs; let i = index;">
                <td>{{i + 1}}</td>
                <td>{{sin.sin_number}}</td>
                <td>{{this.status_lookup[this.sin.status_id-1].name}} </td>
            </tr>
        </table>

        <!-- Submitter Options-->
        <button id="edit-sin-btn" class="btn btn-default btn-sm right" 
                type="submit" (click)="switchModes(true)">Edit Existing Submission</button>
        <button id="new-sin-btn" class="btn btn-default btn-sm right" 
                type="submit" (click)="switchModes(false)">Create New Submission</button>
    </div>

    <!-- Submit New Mode Panel-->
    <div id="sin-new-submit-panel" class="panel-body"
        *ngIf="submit_mode && !exists" >
        
        <h1>New SIN Submission</h1><br>

        <!--No Steps Complete Warning Message -->
        <div id="step-1-new-warning-msg" class="alert alert-warning" role="alert"
                *ngIf="!step_1_complete && !step_2_complete && 
                        (!submit_SIN.sin_number || !submit_SIN.sin_title || !submit_SIN.sin_description)">
                Please Fill Out And Save The Following Fields</div>

        <!--SIN Number-->
        <div id="sin-new-submit" class="input-group">
                <span id="new-sin-number" class="input-group-addon">Enter New SIN #: </span>
                <input id="new_sin_number_input" name="new_sin_number_input" class="form-control right"
                        required minlength="1" type="text"   
                        placeholder="Type SIN # Here"
                        [(ngModel)]="submit_SIN.sin_number" 
                        [disabled]="step_1_complete"
                        #new_sin_number_input="ngModel"><br>
        </div><br>
                <!-- SIN Number Input Error Alerts-->
        <div id="new-sin-number-error-message" class="alert alert-danger" role="alert"
                *ngIf="new_sin_number_input.invalid && (new_sin_number_input.dirty || new_sin_number_input.touched)">
                <div id="new-sin-number-required-error-message"
                        *ngIf="new_sin_number_input.errors.required">SIN Number is Required</div>
        </div>
        
        <!--SIN Title-->
        <div id ="title-new-submit" class="input-group">
                <span id="new-sin-title" class="input-group-addon">Enter Title: </span>
                <input id="new_title_input" name="new_title_input" class="form-control right"
                        required minlength="10" maxlength="1000" type="text" 
                        placeholder="Type Title Here"
                        [(ngModel)]="submit_SIN.sin_title" 
                        [disabled]="step_1_complete"
                        #new_title_input="ngModel"><br>
        </div><br>
                <!-- SIN Title Input Error Alert -->
        <div id="new-title-error-message" class="alert alert-danger" role="alert"
                *ngIf="new_title_input.invalid && ( new_title_input.dirty || new_title_input.touched)">
                <div id="new-title-required-error-message"
                        *ngIf="new_title_input.errors.required">Title Is Required</div>
                <div id="new-title-minlength-error-message" 
                        *ngIf="new_title_input.errors.minlength">Title Must Be Atleast 10 Characters</div>
                <div id="new-title-maxlength-error-message"
                        *ngIf="new_title_input.errors.maxlength">Title Cannot Exceed 1000 Characters</div>
        </div>

        <!--SIN Description-->
        <div id ="describe-new-submit" class="input-group">
                <span id="new-describe" class="input-group-addon">Enter Description: </span>
                <input id="new_describe_input" name="new_describe_input" class="form-control right"
                        required minlength="20" maxlength="1000" type="text"
                        placeholder="Type Description Here"
                        [(ngModel)]="submit_SIN.sin_description" 
                        [disabled]="step_1_complete"
                        #new_describe_input="ngModel"><br>         
        </div><br>
                <!-- SIN Description Input Error Alert-->
        <div id="new-describe-error-message" class="alert alert-danger" role="alert"
                *ngIf="new_describe_input.invalid && ( new_describe_input.dirty || new_describe_input.touched)">
                <div id="new-describe-required-error-message"
                        *ngIf="new_describe_input.errors.required"> Description Is Required</div>
                <div id="new-describe-minlength-error-message"
                        *ngIf="new_describe_input.errors.minlength">Description Must Be Atleast 20 Characters</div>
                <div id="new-describe-maxlength-error-message"
                        *ngIf="new_describe_input.errors.maxlength">Description Cannot Exceed 2000 Characters</div> 
        </div>    
        
        <!--Save Fields-->
        <button id="step-1-submit-new-btn-enabled" class="btn btn-default btn-sm right"
                type="submit" 
                (click)="submitFields()"
                [disabled]="!submit_SIN.sin_number || new_sin_number_input.invalid || new_title_input.invalid || 
                                new_describe_input.invalid || step_1_complete">
                Save Fields</button><br><br>
        
                <!--Step 1 Complete Warning Message -->
        <div id="step-1-warning-msg" class="alert alert-warning" role="alert"
                *ngIf="step_1_complete && !step_2_complete">Please Upload An Attachment Or Select No Attachment</div>
        
        <!-- File Attachment -->
        <form [formGroup]='fileForm' (ngSubmit)='submitFile()' enctype="multipart/form-data">
                <div id="new-file-upload-group" class="form-group" >
                        <label for="new-upload">Select An Attachment</label>
                        <input id="new-upload" name="file" class ="form-control right" 
                                type="file" 
                                (change)="selectFile($event)"
                                [disabled]="!step_1_complete || step_2_complete || !submit_SIN.sin_number">
                </div>
                <button id="new-upload-submit-btn" class="btn btn-default right" 
                        type="submit" 
                        [disabled]="!file_selected || step_2_complete">Upload Attachment</button>
                <button id="new-no-upload-submit-btn" class="btn btn-default right"
                        type="button"
                        (click)="bypassFileUpload()"
                        [disabled]="!step_1_complete || step_2_complete || !submit_SIN.sin_number">No Attachment</button>
        </form><br><br><br>

                <!-- Step 2 Complete Warning Message -->
        <div id="step-2-complete-warning-msg" class="alert alert-warning" role="alert"
                *ngIf="step_1_complete && step_2_complete">Please Complete Submission</div>

        <!-- Submission Options -->
        <button id="complete-submit-new-btn" class="btn btn-default btn-sm right"
                type="submit" 
                (click)="submitSIN()"
                [disabled]="!step_1_complete || !step_2_complete">
                Submit</button>
        <button id="sin-cancel-new-btn" class="btn btn-default btn-sm right"
                type="submit" 
                (click)="switchModes(false)">Cancel</button><br>
    </div>

    <!-- Submit Existing SIN Mode -->
    <div id="sin-submit-exists-panel" class = "panel-body"
        *ngIf="submit_mode && exists && all_SINs.length > 0">
        
        <h1>Edit SIN Submission</h1><br>

        <!--No Steps Complete Warning Message -->
        <div id="step-1-exists-warning-msg" class="alert alert-warning" role="alert"
                *ngIf="!step_1_complete && !step_2_complete && (!submit_SIN.sin_number)">
                Please Select An Existing SIN From The Dropdown Menu</div>

        <!--SIN Number-->
        <div id="exists-sin-submit" class="input-group">
                <span id="exists-sin-number"class="input-group-addon">Current SINs: </span>
                <select id="exists_sin_number_input" name="exists_sin_number_input" class="form-control right"
                        required 
                        [disabled]="step_1_complete"
                        [(ngModel)]="submit_SIN.sin_number"
                        (change) ="console.log('change: didsomething');"
                        (ngModelChange)="console.log('ngChange: didsomethingelse');"
                        #exists_sin_number_input="ngModel">
                        <option [value]="sin.sin_number"
                                *ngFor="let sin of all_SINs"
                                (click)="selectExistingSIN(sin)"> {{sin.sin_number}} </option>
                </select><br>
        </div><br>
                <!-- SIN Number Input Error Alert-->
        <div id="exists-sin-number-error-message" class="alert alert-danger" role="alert"
                *ngIf="exists_sin_number_input.invalid && (exists_sin_number_input.dirty || exists_sin_number_input.touched)">
                <div id="exists-sin-number-required-error-message"
                        *ngIf="exists_sin_number_input.errors.required">SIN Number is Required</div>
        </div>

                <!--SIN Title-->
        <div id="exists-title-submit" class="input-group">
                <span id="exists-title" class="input-group-addon">Enter Title: </span>
                <input id="exists_title_input" name="exists_title_input" class="form-control right"
                        type="text" required minlength="10" maxlength="1000"
                        [placeholder]="existing_SIN.sin_title"
                        [disabled]="step_1_complete || !submit_SIN.sin_number"
                        [(ngModel)]="submit_SIN.sin_title" 
                        #exists_title_input="ngModel">

        </div><br>
                <!-- SIN Title Input Error Alert -->
        <div id="exists-title-error-message" class="alert alert-danger" role="alert"
                *ngIf="exists_title_input.invalid && ( exists_title_input.dirty || exists_title_input.touched)">
                <div id="exists-title-required-message" 
                        *ngIf="exists_title_input.errors.required">Title Is Required</div>
                <div id="exists-title-minlength-error-message"
                        *ngIf="exists_title_input.invalid && exists_title_input.errors.minlength">Title Must Be Atleast 10 Characters</div>
                <div id="exists-title-maxlength-error-message"
                        *ngIf="exists_title_input.invalid && exists_title_input.errors.maxlength">Title Cannot Exceed 1000 Characters</div>
        </div>


        <!--SIN Description-->
        <div class="input-group" id ="describe-submit-exists">
                <span class="input-group-addon" id="new-describe">Enter Description: </span>
                <input id="exists_describe_input" name="exists_describe_input" class="form-control right"
                        type="text" required minlength="20" maxlength="2000" 
                        [placeholder]="existing_SIN.sin_description"
                        [disabled]="step_1_complete || !submit_SIN.sin_number"
                        [(ngModel)]="submit_SIN.sin_description" 
                        #exists_describe_input="ngModel">   
        </div><br>
                <!-- SIN Description Input Error Alert-->
        <div id="exists-describe-error-message" class="alert alert-danger" role="alert"
                *ngIf="exists_describe_input.invalid && ( exists_describe_input.dirty || exists_describe_input.touched)">
                <div id="exists-describe-required-error-message" 
                        *ngIf="exists_describe_input.errors.required">Description Is Required</div>
                <div id="exists-describe-minlength-error-message" 
                        *ngIf="exists_describe_input.errors.minlength">Description Must Be Atleast 20 Characters</div>
                <div id="exists-describe-maxlength-error-message"
                        *ngIf="exists_describe_input.errors.maxlength">Description Cannot Exceed 2000 Characters</div> 
        </div>

        <!--Save Fields-->
        <button id="step-1-submit-exists-btn-enabled" class="btn btn-default btn-sm right"
                type="submit" 
                (click)="submitFields()"
                [disabled]="!submit_SIN.sin_number || exists_sin_number_input.invalid || exists_title_input.invalid || 
                                exists_describe_input.invalid || step_1_complete">
                Save Fields</button><br><br>

        <!--Step 1 Complete Warning Message -->
        <div id="step-1-warning-msg" class="alert alert-warning" role="alert"
        *ngIf="step_1_complete && !step_2_complete">Please Upload An Attachment Or Select No Attachment</div>

        <!-- File Attachment -->
                <!-- Existing Attachments -->
        <div *ngIf="attachments.length>0">
                <p>Current Attachments</p>
                <div id="attachment" class="well well-sm"
                        *ngFor="let attach of attachments; let i = index"> #{{i+1}}: {{attach.filename}}
                        <a id="download-attachment" class="btn btn-default right" 
                                [href]="getDownloadURL(attach.filename.substring(0,attach.filename.length-4))">
                                <span class="glyphicon glyphicon-download-alt right">Download</span>
                        </a>
                        <button id="delete-attachment" class="btn btn-default right">
                                <span class="glyphicon glyphicon-trash right">Delete</span>
                        </button>
                </div><br>
        </div>

                <!-- New Attachment Form-->
        <form [formGroup]='fileForm' (ngSubmit)='submitFile()'>
                <div id="exists-upload-group" class="form-group">
                        <label for="exists-upload">Select An Attachment</label>
                        <input id="exists-upload" name="file" class ="form-control right" 
                                type="file" 
                                (change)="selectFile($event)"
                                [disabled]="!step_1_complete || step_2_complete || !submit_SIN.sin_number || attachments.length > 0">
                </div>
                <button id="exists-upload-submit-btn" class="btn btn-default right" 
                        type="submit" 
                        [disabled]="!file_selected || step_2_complete || attachments.length > 0">Upload Attachment</button>
                <button id="exists-no-upload-submit-btn" class="btn btn-default right"
                        type="button"
                        (click)="bypassFileUpload()"
                        [disabled]="!step_1_complete || step_2_complete || !submit_SIN.sin_number">No Attachment</button>
        </form><br><br><br>

        <!-- Step 2 Complete Warning Message -->
        <div id="step-2-complete-warning-msg" class="alert alert-warning" role="alert"
                *ngIf="step_1_complete && step_2_complete">Please Complete Submission</div>
                
        <b>DEBUG</b> step 1 complete:{{step_1_complete}}, step_2_complete: {{step_2_complete}}
        <!-- Submission Options-->
        <button id="sin-submit-exists-btn-enabled" class="btn btn-default btn-sm right"
                type="submit" (click)="submitSIN()"
                [disabled]="!step_1_complete || !step_2_complete ">Submit</button>
        <button id="sin-cancel-exists-btn" class="btn btn-default btn-sm right"
                type="submit" (click)="switchModes(false)">Cancel</button><br>
    </div>
</div>