<div class = "panel panel-default">

    <div class = "panel-heading">SIN Submission Form</div>
    <div class = "panel-body">
        <label> SIN: <input [(ngModel)] = "submit_SIN.sin_number" type = "text" 
            placeholder = "Type SIN # Here"> </label>

        <button *ngIf="submit_SIN.sin_number" type = "Submit" 
                (click)="submitSIN()" (focus)="clear()">
                Submit</button>
        <button *ngIf="!submit_SIN.sin_number" type = "Submit" 
                disabled>
                Submit</button><br><br>

        <span *ngIf="submitted">Thank you for your submission!</span>
    </div>
</div>