<div *ngIf = "user.groups && user.email">

  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header left">Menu</div>
      
      <ul class="nav navbar-nav">
        <li *ngIf = "user.groups.includes('admin_group')" 
            class="active"><a href="/admin">Admin</a></li>
      </ul>

    </div>
  </nav>

  <div class = "container-fluid">
    <div class = "row">

      <div class = "col-md-2">

        <div class="panel panel-default" >
        
          <div class="panel-heading">User Details</div>
          <div class="panel-body">
            Email: {{user.email}}<br>
            Groups: {{user.groups}}
          </div>
        
        </div>
      
      </div>

      <div class = "col-md-5">

        <div *ngIf = "user.groups.includes('submitter_group')">
          <app-submit-display [user] = "user" 
                              (selection_event)="selectSIN($event)"></app-submit-display>
        </div>
        <div *ngIf = "user.groups.includes('approver_group')">
          <app-review-display approver="true" [user] = "user"></app-review-display>
        </div>
        <div *ngIf = "user.groups.includes('reviewer_group')">
          <app-review-display approver="false" [user] = "user"></app-review-display>
        </div>
      </div>

      <div class = "col-md-2">
        <div class = "panel panel-default">
          <div class="panel-heading">Selected SIN Details</div>
          <div *ngIf = "selected_SIN" class="panel-body">
            SIN #: {{selected_SIN.sin_number}}<br>
            Status: {{selected_SIN.status_id}}<br>
            Submitted By: {{selected_User.email}}<br>
            Submitted To: !TODO!<br>
          </div>
        </div>
      </div>

    </div>

    <div class = "row">

      <div class = "col-md-9">
        <app-logger></app-logger>
      </div>
      
    </div>

  </div>



</div>