<div *ngIf = "user.groups && user.email">

  <!--NAV Bar-->
  <nav class="navbar navbar-default" id="sin-navbar">
    <div class="container-fluid">

      <div class="navbar-header left">Menu</div>
      <ul class="nav navbar-nav">
        <li *ngIf = "user.groups.includes('admin_group')" 
            class="active"><a href="/admin">Admin</a></li>
      </ul>

    </div>
  </nav>

  <!--Application Container-->
  <div class="container-fluid" id="sin-application">

    <!--User Details Panel-->
    <div class="row">
      <div class="col-md" id="user-details-panel">

        <div class="panel panel-default" >    
          <div class="panel-heading">User Details</div>
          <div class="panel-body">
            Email: <span class="right">{{user.email}}</span><br>
            Groups: <span class="right">{{user.groups}}</span>
          </div>
        </div>
      
      </div>
    </div>

    <div class="row">
      <!--User Group Specific Panel -->
      <div class="col-md-6" id="group-specific-panel">

        <div *ngIf="user.groups.includes('submitter_group')">
          <app-submit-display id="submit-app-component"
                              [user]="user" [selectable]="!edit_mode" [save_message]="saved"
                              (selection_event)="selectSIN($event)"></app-submit-display>
        </div>
        <div *ngIf="user.groups.includes('approver_group') || user.groups.includes('reviewer_group') || user.groups.includes('admin_group')">
          <app-review-display id="review-app-component"
                              [user] = "user" [selectable] = "!edit_mode" [save_message] = "saved"
                              (selection_event)="selectSIN($event)"></app-review-display>
        </div>
      </div>

      <!--User Selected SIN Panel-->
      <div class = "col-md-6" id="sin-selection-panel">

        <!-- SIN Viewer -->   
        <div *ngIf="!edit_mode" id="sin-selection-viewer" class = "panel panel-default">
        
              <div class="panel-heading">SIN Details</div>

              <div *ngIf="!selected_SIN.sin_number" class="panel-body"> Select a SIN</div>

              <div *ngIf = "selected_SIN.status_id && selected_User.id && status_lookup.length > 0" 
                    class="panel-body">
                SIN #:<br> <span class = "right">{{this.selected_SIN.sin_number}}</span><br>
                Title : <br> <span class = "right">{{this.selected_SIN.sin_group_title}}</span><br>
                Status:<br> <span class = "right">{{this.status_lookup[this.selected_SIN.status_id-1].name}}</span><br>
                Submitted By:<br> <span class = "right">{{this.selected_User.email}}</span><br>
                Submitted To:<br> <span class = "right"><b>TODO</b></span><br>
                Description: <br> <span class = "right"> {{this.selected_SIN.sin_description1}} </span><br><br>

                <button type="submit" class = "right btn btn-default btn-sm" (click) = "switchModes()">
                  Edit</button>
              </div>
        </div>

        <!-- SIN Editor-->
        <div *ngIf = "edit_mode" id="sin-selection-editor" class = "panel panel-default">
          <div class="panel-heading">SIN Editor</div>
          <app-edit-display id="edit-app-component" 
                            [input_SIN] ="selected_SIN" [user_group]="user.groups"
                            (cancel_event)="cancel($event)" (save_event)="saveSIN($event)"></app-edit-display>
        </div>
      </div>

    </div>

    <!--Application Logger Panel-->
    <div class = "row">

      <div class = "col-md-9" id="application-logger-panel">
        <app-logger></app-logger>
      </div>
      
    </div>

  </div>



</div>