<div *ngIf = "user.groups && user.email">

  <nav class="navbar navbar-default" id="sin-navbar">
    <div class="container-fluid">

      <div class="navbar-header left">Menu</div>
      <ul class="nav navbar-nav">
        <li *ngIf = "user.groups.includes('admin_group')" 
            class="active"><a href="/admin">Admin</a></li>
      </ul>

    </div>
  </nav>

  <div class = "container-fluid" id="sin-application">
    <div class = "row">

      <!--User Details Panel-->
      <div class = "col-md-2" id="user-details-panel">

        <div class="panel panel-default" >
        
          <div class="panel-heading">User Details</div>
          <div class="panel-body">
            Email: {{user.email}}<br>
            Groups: {{user.groups}}
          </div>
        
        </div>
      
      </div>

      <!--User Group Specific Panel -->
      <div class = "col-md-5" id="group-specific-panel">

        <div *ngIf = "user.groups.includes('submitter_group')">
          <app-submit-display [user] = "user" 
                              (selection_event)="selectSIN($event)"></app-submit-display>
        </div>
        <div *ngIf = "user.groups.includes('approver_group')">
          <app-review-display approver="true" [user] = "user"
                              (selection_event)="selectSIN($event)"></app-review-display>
        </div>
        <div *ngIf = "user.groups.includes('reviewer_group')">
          <app-review-display approver="false" [user] = "user"
                              (selection_event)="selectSIN($event)"></app-review-display>
        </div>
      </div>

      <!--User Selected SIN Panel-->
      <div class = "col-md-3" id="sin-selection-panel">
        <!-- SIN Viewer -->   
        <div *ngIf="!edit_mode" class = "panel panel-default">
        
              <div class="panel-heading">SIN Details</div>

              <div *ngIf = "selected_SIN.status_id && selected_User.id && status_lookup.length > 0" 
                    class="panel-body">
                SIN #:<br> <span class = "right">{{this.selected_SIN.sin_number}}</span><br>
                Status:<br> <span class = "right">{{this.status_lookup[this.selected_SIN.status_id-1].name}}</span><br>
                Submitted By:<br> <span class = "right">{{this.selected_User.email}}</span><br>
                Submitted To:<br> <span class = "right"><b>TODO</b></span><br><br>
                
                <button type="submit" class = "right btn btn-default btn-sm" (click) = "switchModes()">
                  Edit</button>
              </div>
        </div>

        <!-- SIN Editor-->
        <div *ngIf = "edit_mode" class = "panel panel-default">
          <div class="panel-heading">SIN Editor</div>
          <app-edit-display  [edit_SIN] ="selected_SIN" [user_group]="user.groups"
                            (cancel_event)="cancel($event)" (save_event)="saveSIN($event)"></app-edit-display>
        </div>
      </div>

    </div>

    <div class = "row">

      <div class = "col-md-9">
        <app-logger></app-logger>
      </div>
      
    </div>

  </div>



</div>