/* You can add global styles to this file, and also import other style files */
.vertical-scroll-sm{
  overflow-y: auto;
  height: 100px;
}
.vertical-scroll-md{
  overflow-y: auto;
  height: 300px;
}
.right{
  float:right;
}
.lefT{
  float:left;
}
.selected{
  background-color: #98afb9;
  color: white;
}
.clickable{
  cursor:pointer;
}

